@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,#0f0c29 0%, #302b63 50%, #24243e 100%);;
  background-size: 200% 200%;
  animation: gradientMove 5s ease infinite;
  z-index: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: var(--font-family);
}

.custom-select .ant-select-arrow {
  color: white
}

.custom-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 2px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.custom-button::before,
.custom-button::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 25%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.custom-button::before {
  top: 0;
  left: 0;
  border-top: 2px solid;
  border-left: 2px solid;
  border-bottom: 0;
  border-right: 0;
  border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1;
}

.custom-button::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid; 
  border-right: 2px solid;
  border-top: 0;
  border-left: 0;
  border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1;
}

.custom-button:hover::before,
.custom-button:hover::after {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1;
}

.custom-button:hover {
  border-color: transparent;
}

.custom-button > .ant-typography {
  position: relative;
  z-index: 1;
}